.container  {
    width: 100%;
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid var(--cor-cinza-claro);
    border-radius: 20px;
    padding: 10px;
}
.container:hover {
    border: 2px solid var( --cor-dourado);
}
.icone {
    width: 30px;
    height: auto;
}
.container input {
    width: 100%;
    border: 0;
    border-radius: 10px;
    outline-style: none;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--fonte-principal);
}
@media (max-width: 425px) {
  .container input::placeholder {
    font-size: 12px;
  }
}